.video-thumbnail {
	display: flex;
  flex-wrap: wrap;
	margin-top: 5vh;
  justify-content: space-around;
	width: 100vw;
}
.video-thumbnail .card {
	display: flex;
	border-radius: 8px;
	border: 2px solid gainsboro;
	padding: 5px;
	align-content: center;
	flex-direction: column;
	text-align: center;
}
.video-thumbnail .card img {
  display: block;
	border-radius: 8px;
	width: 300px;
	object-fit: cover;
}
